<section class="jumbotron text-center">
  <h1>Title of our piece of music</h1>

</section>
<div class="col-md-6">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="warning">
				<th>Team Member</th>
				<th>Component</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Devin DePaepe</th>
				<th>Wavetable Synthesizer</th>
			</tr>
			<tr>
				<th>Sophia Sdao</th>
				<th>Wavetable Synthesizer</th>
			</tr>
			<tr>
				<th>Min Weng</th>
				<th>Additive Synthesizer</th>
			</tr>
			<tr>
				<th>Amanda DePelsMaeker</th>
				<th>Subtractive Synthesizer</th>
			</tr>
			<tr>
				<th>Patricia Huang</th>
				<th>Drum Synthesizer</th>
			</tr>
			<tr>
				<th>Michael Chen</th>
				<th>Effects</th>
			</tr>
		</tbody>
	</table>
</div>

